*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #d6d6d6;
    
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding :20px;
    height: 600px;
    border: 5px solid black;
    border-radius: 5px;
}
.register_header img {
    width: 300px; /* Reduce the logo size */
    height: 200px;
   
}
